body {
    font-family: 'Krub', sans-serif;
    margin: 0;
    padding: 0;
}

.page {
    background-image: url(moscow-b-w.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 98vw;
    height: 98vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr minmax(300px, 1fr) 1.5fr;
    grid-gap: 2%;
}

.search-field {
    width: 50%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: relative;
    align-self: end;
    justify-self: center;
    margin-right: 5%;
}

#submit {
    border: none;
    padding: 5%;
    position: absolute;
    left: 93%;
    top: 15%;
    background-color: transparent;
    background-image: url(search32.png);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#submit:focus{
    outline: none;
}

#input-field {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: calc(13px + 1vw);
    border: none;
    border-radius: 8px;
    display: block;
    padding: 5%;
    color: white;
    font-family: 'Krub', sans-serif;
}

#input-field:focus {
    outline: none;
}

/* input:-internal-autofill-selected {
    background-color:pink !important;
    background-image: none !important;
    color: -internal-light-dark-color(black, white) !important;
} */

input:-webkit-autofill-selected {
    background-color: pink;
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

.weather-card {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    width: 60%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 3%;
    color: white;
    font-size: 16px;
}

.weather-card {
    display: grid;
    grid-column-gap: 5%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#city {
    font-size: 25px;
}

#country {
    font-size: 20px;
}


.city {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: auto;
    text-align: center;
}

.date {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: auto;
    font-size: 17px;
}

.temperature {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin: auto;
}

.humidity {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin: auto;
}

.wind-speed {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    margin: auto;
}

.uv-index {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    margin: auto;
}

.five-days-cards-div {
    grid-column: 1 / 2;
    grid-row: 3 / 4; 
    display: grid; 
    
}

.day {
    width: 50%;
    height: 90%;
    margin: 1%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 0.5%;
    color: white;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-gap: 5%;
    align-self: center;
    justify-self: center;
}

@media screen and (min-width: 678px){
    .page {
        background-image: url(moscow-b-w.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 98vw;
        height: 98vh;
        display: grid;
        grid-template-columns: 1fr 0.2fr 2fr 0.2fr 1fr;
        grid-template-rows: 15px 60px 2fr 1fr 100px;
        grid-gap: 6%;
    }
    
    .search-field {
        grid-column: 2 / 5;
        grid-row: 2 / 3;
        margin: auto;
    }
    
    #submit {
        border: none;
        padding: 5%;
        position: absolute;
        left: 95%;
        top: 16%;
        background-color: transparent;
        background-image: url(search32.png);
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    
    #submit:focus{
        outline: none;
    }
    
    .search-field {
        position: relative;
    }
    
    #input-field {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: calc(13px + 1vw);
        border: none;
        border-radius: 8px;
        display: block;
        padding: 5%;
        color: white;
        font-family: 'Krub', sans-serif;
    }
    
    #input-field:focus {
        outline:none;
    }
    
    ::placeholder {
        color: white;
        opacity: 1; /* Firefox */
    }
    
    .weather-card {
        grid-column: 2 / 5;
        grid-row: 3 / 4;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        padding: 3%;
        color: white;
        font-size: 16px;
    }
    
    .weather-card {
        display: grid;
        
        grid-column-gap: 5%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
    #city {
        font-size: 25px;
    }
    
    #country {
        font-size: 20px;
    }
    
    .city {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin: auto;
        text-align: center;
    }
    
    .date {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin: auto;
        font-size: 17px;
    }
    
    .temperature {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin: auto;
    }
    
    .humidity {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin: auto;
    }
    
    .wind-speed {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin: auto;
    }
    
    .uv-index {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        margin: auto;
    }
    
    .five-days-cards-div {
        grid-column: 1 / -1;
        grid-row: 4 / 4; 
        display: flex;
        
    }
    
    .day {
        width: 20%;
        height: 90%;
        margin: 1%;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        padding: 0.5%;
        color: white;
        display: grid;
        justify-content: center;
        align-content: center;
        grid-gap: 5%;
    }
}